.root {
    -fx-background-color: #f7f7f7;
}

.label {
    -fx-font-family: "Arial", sans-serif;
}

.button {
    -fx-font-family: "Arial", sans-serif;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
}

.button:hover {
    -fx-opacity: 0.8;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}